.ion-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.class-content {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.class-content h2 {
    font-size: 17pt;
    font-weight: bold;
}

.icon-next {
    font-size: 17pt;
    font-weight: bold;
}