<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Video Học Tập
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Video Học Tập</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card *ngFor="let item of allVideo.items">
        <ion-card-header class="title">
            <ion-card-title class="title_heading">{{item.snippet.title}}</ion-card-title>
            <ion-select class="select" (ionChange)="selectActionVd($event)" interface="action-sheet">
                <ion-select-option value="{{item.id}}">Play Quiz</ion-select-option>
            </ion-select>
        </ion-card-header>

        <ion-card-content class="content">
            <img width="100%" (click)="playVid(item.id)" src="{{item.snippet.thumbnails.medium.url}}" alt="">

        </ion-card-content>
    </ion-card>

</ion-content>