@font-face {
    font-family: roboto;
    src: url('../../assets/font/Roboto-Light.ttf');
}

html,
body {
    margin: 0px;
    height: 100%;
}

ion-content {
    font-family: roboto !important;
    word-spacing: 120%;
    font-size: 110%;
}

.content {
    background-color: #f1f5fd;
}

.header-question {
    width: 100%;
    min-height: 250px;
    background-color: #649dfb;
    background-image: linear-gradient(to top, #649dfb, #7faffe);
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
}

.header-h1 {
    color: white;
    font-weight: bold;
}

.boxcenter {
    width: 95%;
    margin: 0 auto;
}

.btn {
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: 1rem auto;
}

.answers {
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.answers .btn {
    margin: 10px 10px;
    --padding-start: 3em;
    --padding-end: 3em;
    height: 3.8em;
}

.btn-next {
    width: 90%;
    margin: 0 auto;
}

.btn-next>#btnstart {
    min-height: 40px;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-15 {
    margin-top: 15rem;
}

.pt-15 {
    padding-top: 20rem;
}

.m-0 {
    margin: 0;
}

.pt-10 {
    padding-top: 10rem;
}

.hide {
    display: none;
}

.btnstart {
    display: none;
}

.text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.boxanswer {
    padding: 1rem 0.5rem;
}

.main-question {
    background: #f0f6fe;
    height: 70vh;
}

.success {
    background-color: #6ed158;
    color: white;
}

.danger {
    background-color: #eb445a;
    color: white;
}

.boxkq {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.box-text {
    text-align: center;
}

.box-text h1 {
    font-size: 20pt;
    font-weight: bold;
}

.box-text .percent {
    font-size: 35pt;
    font-weight: bold;
    color: #6ed158;
}

.box-text p {
    font-weight: bold;
}